<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

  <body>
    <div class="container">
      <%- include('./partials/nav.ejs')%>
    </div>

    <div class="container">
      <div class="character-card">
        <div class="character-card__content character-card__content--static">
          <div class="row">
            <div class="col-lg-4">
              <div class="character-card__media">
                <img class="character-card__image" src="<%= avatar %> " alt="">
              </div>
            </div>
            <div class="col-lg-8">
              <ul class="character-card__info">
                <li class="character-card__info-item">
                  <%- name %>
                </li>
                <li class="character-card__info-item">
                  <%- status %>
                </li>
                <li class="character-card__info-item">
                  <%- gender %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include('./partials/footer.ejs')%>
  </body>

</html>