<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

  <body>
    <section id="top-navigation">
      <%- include('./partials/nav.ejs')%>
    </section>
    <section id="main">
      <div class="container">
        <% if(info) { %>
          <div class="ricky-pagination-wrapper">
            <% if(info.pages > 1) { %>
              <ul class="ricky-pagination">
                <% for(var i = 0; i < info.pages; i++) { %>
                  <li class="ricky-pagination__item">
                    <a href="/?page=<%= i+1 %>" class="ricky-pagination__link"><%= i+1 %></a>
                  </li>
                <% } %>
              </ul>
            <% } %>
        </div>
        <% } %>
        <% if (characters.length> 0) { %>
          <div class="row">
            <% characters.forEach(character=> { %>

              <div class="col-lg-3">
                <a href="/detail/character/<%= character.id %>" class="title">
                  <div class="character-card">
                    <div class="character-card__content">
                      <div class="character-card__media">
                        <img class="character-card__image" src="<%- character.image %> " alt="character">
                      </div>
                      <div class="character-card__info character-card__info--centered">
                        <span>
                          <%= character.name %>
                        </span>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <% }) %>
          </div>
          <% } else { %>
            <p><%= error %> </p>
            <% } %>
      </div>
    </section>

    <%- include('./partials/footer.ejs')%>
  </body>

</html>